In [1]:
#Importing pandas
import pandas as pd
from pathlib import Path

In [3]:
#Read csv
pybank_csv = Path("Resources/budget_data.csv")

#Create dataframe
pybank_df = pd.read_csv(pybank_csv)
pybank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [111]:
#Total number of months
total_months = pybank_df.shape[0]
print("Total Months:", total_months)

#Total changes
profit_losses = pybank_df["Profit/Losses"].tolist()
sum_pybank = sum(profit_losses)
print("Total: $", sum_pybank)

#Average change amount
i = int
pl_changes = [0] * 86
for i in range(1, 85):
    pl_changes[i] = profit_losses[i] - profit_losses[i - 1]

avg_plchange = round(sum(pl_changes)/(total_months - 1), 2)

print("Average Change: $", avg_plchange)

changes_df = pd.DataFrame({"Change": pl_changes})

dates_df = pybank_df["Date"]

pl = [dates_df, changes_df]

pl_df = pd.concat(pl, axis = 1)

#Greatest increase in profits
max_index = pl_df["Change"].idxmax()

print("Greatest Increase in Profits:", pl_df["Date"][max_index], "$", max(pl_df["Change"]))

#Greatest decrease in profits
min_index = pl_df["Change"].idxmin()

print("Greatest Decrease in Profits:", pl_df["Date"][min_index], "$", min(pl_df["Change"]))

Total Months: 86
Total: $ 22564198
Average Change: $ -5667.94
Greatest Increase in Profits: Aug-16 $ 1862002
Greatest Decrease in Profits: Feb-14 $ -1825558